<!DOCTYPE html>
{%extends 'partials/base.html'%}
{%load static%}

{%block content%}

<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Instagram Login Form</title>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="phone-sapp-demo"></div>
      <div class="form-data">
        <form action="" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <h1>Create Post</h1>
          {{form.picture}}
          {{form.caption}}
          {{form.tag}}
          <button class="form-btn" type="submit">Create Post</button>
          <!-- <a href="index.html" class="form-btn" type="submit">Log in</a> -->
        </form>
      </div>
    </div>



  </div>

</body>

</html>
{%endblock content%}